[submodule "zoppo/zoppo"]
	path = zoppo/zoppo
	url = https://github.com/zoppo/zoppo.git
[submodule "zoppo/plugins"]
	path = zoppo/plugins
	url = https://github.com/zoppo/plugins.git
[submodule "zoppo/prompts"]
	path = zoppo/prompts
	url = https://github.com/zoppo/prompts.git
[submodule "plugins/autosuggestions/external"]
	path = plugins/autosuggestions/external
	url = git@github.com:zsh-users/zsh-autosuggestions.git
